<p>blog works!</p>
<div>
    <input type="text" [(ngModel)]="id" class="size green">
    <div>
        <div *ngSwitchCase="1">This is ONE</div>
        <div *ngSwitchCase="2">This is ONE</div>
        <div *ngSwitchCase="3">This is ONE</div>
        <div *ngSwitchCase="4">This is ONE</div>
        <div *ngSwitchDefault> default ID</div>
    </div>
    <div>
        <p>with Binding ::{{10*2}}</p>
        <p ngNonBindable>withOUT Binding :: {{10*2}}</p>
    </div>
   <div class="container">
       <h3>New User Form</h3>
            <form action="">
            
            </form>
   </div>
</div>
